Задание



Реализовать приложение для планирования встреч с клиентами.


Представьте, что это приложение будет в дальнейшем развиваться: 
какие элементы интерфейса могут быть переиспользованы в дальнейшем и как это нужно отразить в коде?

Условия



- React+Redux;

- ES6 (можно использовать babel);

- для календаря не использовать библиотеки, но можно использовать moment js;

- для autocomplete не использовать библиотеки;

- для сборки проекта использовать webpack;

- страничка index.html должна отдаваться сервером;

- для стилей можно использовать любой пре/пост процессор;

- все данные должны храниться в local storage;

- все hover/active состояния у контролов можно сделать по своему усмотрению;

- данные для страницы My Clients можно захардкодить и хранить в local storage;

- код должен быть по возможности максимально модульным (но без фанатизма);



Примечания к дизайну



- для формы создания/редактирования новой встречи должна присутствовать валидация isRequired 
для полей Participant, Description;

- числа в календаре кликабельны (при клике показывается список встреч на этот день в правой части);

- панель навигации и панель с календарем имеют фиксированную ширину, панель со списком встреч 
и редактором имеют динамическую ширину;

- в календаре желтая дата это текущая дата, серая дата это выделенная дата;
- зеленые кружечки под числами в календаре это индикатор наличия встреч в эти дни 
(если создать - встречу на этот день, соотвественно кружочек должен появится; если удалить все встречи, 
индикатор должен пропасть);

- обратите внимание на наличие индикатора общего количества встреч на панели навигации;

- если открыт  редактор встречи, и произошел переход в календаре на другую дату -> с редактором ничего не происходит,
 за исключением того что при закрытия редактора нужно корректно отобразить список встреч для выделенной даты;

- при клике на кнопки под фото профиля ничего не происходит;
